### Explore Install Payments Dataset
https://www.kaggle.com/c/home-credit-default-risk

Ad-hoc exploration of `installments_payments.csv` dataset to find numeric and categorical variables

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import os
import shutil

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from preprocess import (do_data_cleaning, generate_encoders, add_onehot_col, add_label_col, fix_null_values)
from preprocess_bureau import (add_numeric_stats_cols, )

In [3]:
from IPython.display import display

In [4]:
FEAT_CODE = "INSTPAY"

In [5]:
df = pd.read_csv('./data/installments_payments.csv')
print("shape",df.shape)
print("columns",df.columns)

shape (13605401, 8)
columns Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [6]:
df.dtypes

SK_ID_PREV                  int64
SK_ID_CURR                  int64
NUM_INSTALMENT_VERSION    float64
NUM_INSTALMENT_NUMBER       int64
DAYS_INSTALMENT           float64
DAYS_ENTRY_PAYMENT        float64
AMT_INSTALMENT            float64
AMT_PAYMENT               float64
dtype: object

In [7]:
df.select_dtypes('object').apply(pd.Series.nunique, axis=0).to_dict()

{}

In [ ]:
# label_cols = list(df.select_dtypes('object').apply(pd.Series.nunique, axis=0).to_dict().keys())
# label_cols

In [ ]:
# label_cols = []

# df[label_cols].apply(pd.Series.nunique, axis=0)

In [8]:
# df.select_dtypes(['float64', 'int64']).agg(["min", "max", "mean", "median", "nunique"])
numerical_cols = list(df.select_dtypes(['float64', 'int64']).apply(pd.Series.nunique, axis=0).to_dict().keys())
print ("numerical_cols", numerical_cols)

numerical_cols ['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION', 'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT', 'AMT_INSTALMENT', 'AMT_PAYMENT']

In [11]:
# df['RATE_DOWN_PAYMENT'].unique()

In [14]:
numerical_cols =['NUM_INSTALMENT_VERSION', 'NUM_INSTALMENT_NUMBER', 
                 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT', 
                 'AMT_INSTALMENT', 'AMT_PAYMENT']

rename_cols = {}
for colname in numerical_cols:
    rename_cols[colname] = "{}_{}".format(FEAT_CODE, colname)

df[numerical_cols].agg(["min", "max", "mean", "median", "nunique", "std", "skew", "kurtosis"])

,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
min,0.000000,1.000000,-2922.000000,-4921.000000,0.000000e+00,0.000000e+00
max,178.000000,277.000000,-1.000000,-1.000000,3.771488e+06,3.771488e+06
mean,0.856637,18.870896,-1042.269992,-1051.113684,1.705091e+04,1.723822e+04
median,1.000000,8.000000,-818.000000,-827.000000,8.884080e+03,8.125515e+03
nunique,65.000000,277.000000,2922.000000,3039.000000,9.025390e+05,9.442350e+05
std,1.035216,26.664067,800.946284,800.585883,5.057025e+04,5.473578e+04
skew,9.593395,2.497597,-0.628704,-0.626889,1.623591e+01,1.495193e+01
kurtosis,259.607101,6.705137,-0.798737,-0.801756,3.888394e+02,3.245959e+02

In [12]:
# df["RATE_INTEREST_PRIVILEGED"].unique()